<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">

  <div class="gf-form">
    <gf-form-dropdown model="ctrl.target.measurement_type"
      allow-custom="true"
      lookup-text="true"
      get-options="ctrl.getOptions('measurement types')"
      on-change="ctrl.onChangeInternal('measurement types')">
    </gf-form-dropdown>
  </div>

  <div class="gf-form">
    <gf-form-dropdown model="ctrl.target.participants"
      allow-custom="true"
      lookup-text="true"
      get-options="ctrl.getOptions('participants')"
      on-change="ctrl.onChangeInternal('participants')">
    </gf-form-dropdown>
  </div>

  <div class="gf-form">
    <gf-form-dropdown model="ctrl.target.metric_type"
      allow-custom="true"
      lookup-text="true"
      get-options="ctrl.getOptions('metric types')"
      on-change="ctrl.onChangeInternal('metric types')">
    </gf-form-dropdown>
  </div>

  <div class="gf-form">
    <gf-form-dropdown model="ctrl.target.summary"
      allow-custom="true"
      lookup-text="true"
      get-options="ctrl.getOptions('summaries')"
      on-change="ctrl.onChangeInternal('summaries')">
    </gf-form-dropdown>
  </div>

 <div class="gf-form gf-form--grow">
   <div class="gf-form-label gf-form-label--grow"></div>
 </div>

  </div>
</query-editor-row>
